* {
  margin: 0;
}

.app {
  text-align: center;
  color: black;
  background-color: white;
  min-height: 100vh;
}

.tableheader {
  width: 100vw;
  margin: 0 auto;
}

.tablebody {
  background-color: lightblue;
}

.tablebody>Link {
  padding-right: 20px;
}

.appbody {
  margin-top: 25px;
}

#btn1 {
  margin-right: 5px;
  width: 75px;
}

#btn2 {
  margin-right: 5px;
  width: 75px;
}

#btn3 {
  margin-right: 5px;
  width: 75px;
}

#btn4 {
  margin-left: 10px;
  width: 100px;
}

#btn5 {
  margin-left: 10px;
  width: 100px;
}