* {
  margin: 0;
  background-color: black;
}

.App {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  color: white;
}

.header>img {
  width: 500px;
}

.search-box {
  background-color: black;
  color: white;
}

.id-box {
  background-color: white;
  color: black;
}

.search-btn {
  background-color: white;
  color: black;
}